body,html{
  width: 100vw;
  height: 100vh;
}
body{
  background-color: #231F20;
  display: flex;
  justify-content: space-around;
  background-image: url("../img/bg.jpg");
  background-size: 400px 500px;
  background-repeat: repeat-x;
  background-position: bottom;

}
#building{
  position: relative;
  margin-top: auto;
  bottom: 0;
  width: 320px;
  height: 480px;
  background-image: url("../img/buildingwithout.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  #breakable{
    padding: 0;
    margin-top: 193px;
    width: 176px;
    height: 164px;
    .top,.middle,.bottom{
      width: 100%;
      height: 53px;
      justify-content: space-around;
      padding-left: 2px;
      img{
        width: 31px;
      }
    }
    .top{
      padding-top: 5px;
      margin-bottom: 11px;
    }
    .middle{
      padding-top: 5px;
      margin-bottom: 2px;
    }
    .bottom{

    }
  }
}
@media (min-width : 1200px) {
  #building{
    width: 440px;
    height: 100vh;
    #breakable{
      margin-top: 263px;
      width: 239px;
      height: 164px;
      .top,.middle,.bottom{
        width: 100%;
        height: 53px;
        img{
          padding-left: 6px;
          width: 43px;
        }
      }
      .top{
        padding-top: 3px;
        margin-bottom: 27px;
      }
      .middle{
        padding-top: 5px;
        margin-bottom: 22px;
      }
      .bottom{

      }
    }
  }
}
